<div class="card">
    <div class="card-header">
        <span class="justify-content-between flex">
            <h4 class="card-title">Building info</h4>

            <button pButton pRipple class="p-button-success mb-3" label="Save" [disabled]="saveButtonDisabled" (click)="onSave()" ></button>
        </span>
    </div>
    <div class="card-body p-d-flex p-jc-around p-ai-center">
        <div class="grid">
            <div class="col"><strong>ID:</strong> {{building.id}}</div>
            <div class="col"><strong>Type:</strong> {{building.type}}</div>
            <div class="col"><strong>Province:</strong> {{building.address.province}}</div>
            <div class="col"><strong>District:</strong> {{building.address.district}}</div>
            <div class="col"><strong>Region:</strong> {{building.address.region}}</div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4 class="card-title">Energy consumption</h4>
    </div>
    <div class="card-body grid">
            <div class="col"><strong>Electricity:</strong> {{consumption?.Electricity || 0}}{{consumption?.Unit}}</div>
            <div class="col"><strong>Heating:</strong> {{ consumption?.Heating || 0}}{{consumption?.Unit}}</div>
            <div class="col"><strong>Natural Gas:</strong> {{consumption?.NaturalGas || 0}}{{consumption?.Unit}}</div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <app-measurement-table [measurements]="measurements" (measurementsChange)="onMeasurementsChange($event)" ></app-measurement-table>
    </div>
</div>
